@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 .grass{
     background: #00CA91;
 }
 .fire{
     background-color: #E95C4D;
 }
 .poison{
     background-color: #611380;
 }
 .water{
     background-color: #43CCFF;
 }
 .type-grass{
     background: #00CA91;
     opacity: 0.70;
    
 }
 .type-poison{
     background: #611380;
     opacity: 0.70;
 }
 .type-water{
    background-color: #43CCFF;
    opacity: 0.70;
 }